html, body {
    height: 100%;
    background-color: #666e76;
}

body {
    display: flex;
    flex-direction: column;
}

#nav,
#navbar-brand,
#navbar-brand-pic,
#navbar-toggler-icon,
#user-dropdown,
#profile-pic,
#btn-signUp,
#btn-signIn {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.nav {
    min-height: 82px;
}
.scrolled-nav {
    min-height: 52px !important;
}

.navbar-brand {
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 0;
}
.scrolled-navbar-brand {
    font-size: 1.25rem !important;
    line-height: 3rem !important;
}

.navbar-brand-pic {
    width: 3rem;
    height: 3rem;
}
.scrolled-navbar-brand-pic {
    width: 2rem !important;
    height: 2rem !important;
}

.navbar-toggler {
    line-height: 0;
}

.navbar-toggler-icon {
    height: 1.25em;
}
.scrolled-navbar-toggler-icon {
    height: 0.75em !important;
}

.user-dropdown {
    line-height: 3em;
}
.scrolled-user-dropdown {
    line-height: 2em !important;
}

.profile-pic {
    width: 3rem;
    height: 3rem;
}
.scrolled-profile-pic {
    width: 2rem !important;
    height: 2rem !important;
}

.alert {
    text-align: center;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    margin-top: 102px;
    margin-bottom: 20px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    background-color: #343a40;
    color: rgba(255,255,255,.5);
}